:root {
	--clr-primary-bright-orange: hsl(31, 77%, 52%);
	--clr-primary-dark-cyan: hsl(184, 100%, 22%);
	--clr-primary-very-dark-cyan: hsl(179, 100%, 13%);

	--clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
	--clr-neutral-very-light-grey: hsl(0, 0%, 95%);

	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', cursive;
}

/* --- Reset --- */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Begin of custom styling */

body {
	font-family: var(--ff-primary);

	overflow: visible;
}

.container {
	width: min(90%, 920px);
	margin-inline: auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: visible;

	height: 100%;
	height: 100vh;
}

.cards {
	display: grid;
	grid-template-columns: 1fr;

	margin-block: 88px;
}

.card {
	padding: 48px;
}

.card:nth-child(1) {
	background-color: var(--clr-primary-bright-orange);

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.card:nth-child(2) {
	background-color: var(--clr-primary-dark-cyan);
}
.card:nth-child(3) {
	background-color: var(--clr-primary-very-dark-cyan);

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.card__icon {
	margin-bottom: 35px;
}

.card__title {
	margin-bottom: 25px;

	font-family: var(--ff-secondary);
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;

	text-transform: uppercase;

	color: var(--clr-neutral-very-light-grey);
}

.card__text {
	color: var(--clr-neutral-transparent-white);
}

.card__btn {
	margin-top: 25px;

	display: inline-block;
	border: none;

	background-color: var(--clr-neutral-very-light-grey);
	border: 2px solid white;
	border-radius: 25px;

	padding: 11px 31.5px 12px 31.5px;

	transition: all 350ms ease-in-out;
}

.card__btn--orange {
	color: var(--clr-primary-bright-orange);
}
.card__btn--cyan {
	color: var(--clr-primary-dark-cyan);
}
.card__btn--dark-cyan {
	color: var(--clr-primary-very-dark-cyan);
}

.card__btn:hover,
.card__btn:focus {
	border: 2px solid white;
	color: white !important;
}

.card__btn--orange:hover,
.card__btn--orange:focus {
	background-color: var(--clr-primary-bright-orange) !important;
}
.card__btn--cyan:hover,
.card__btn--cyan:focus {
	background-color: var(--clr-primary-dark-cyan) !important;
}
.card__btn--dark-cyan:hover,
.card__btn--dark-cyan:focus {
	background-color: var(--clr-primary-very-dark-cyan) !important;
}

@media (min-width: 1024px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}

	.card:nth-child(1) {	
		border-radius: 0;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	.card:nth-child(3) {
		border-radius: 0;	
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.card__btn {
		margin-top: 83px;
	}
}